<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create a new Message</title>
    </head>
    <body>
        <form action="/createMessage" method="POST">
            <label for="title">Message Title: </label>
            <input type="text" name="title" id="title" />

            <label for="content">Message Content:</label>
            <input type="text" name="content" id="content" />

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
