<!doctype html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs", { title: "Create a new Message" }) %>
    </head>
    <body>
        <form action="/createMessage" method="POST" class="create-message">
            <label for="title">Message Title: </label>
            <input type="text" name="title" id="title" />

            <label for="content">Message Content:</label>
            <input type="text" name="content" id="content" />

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
