<!doctype html>
<html lang="en">
    <%- include("./partials/head.ejs", { title: "Members Only" }) %>
    <body>
        <header class="welcome-user">
            <% if (locals.user) { %>
            <h1>
                Hi,
                <%= user.email %>
            </h1>

            <h2><a href="/createMessage">Create a new message</a></h2>
            <% } else { %>
            <h1>Hi, anonymous!</h1>
            <h2>You should <a href="/login">Login!</a></h2>
            <% } %>
        </header>

        <nav>
            <h2><a href="/login">Login</a></h2>
            <h2><a href="/signUp">Signup</a></h2>
            <h2><a href="/join">Join</a></h2>
        </nav>

        <main>
            <%- include("./partials/messages", { messages: locals.messages }) %>
        </main>
    </body>
</html>
