<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Members Only</title>
    </head>
    <body>
        <% if (locals.user) { %>
        <h1>
            Hi,
            <%= user.email %>
        </h1>

        <h2><a href="/createMessage">Create a new message</a></h2>
        <% } else { %>
        <h1>You should <a href="/login">Login!</a></h1>
        <% } %>

        <%- include("./messages", { messages: locals.messages }) %>
    </body>
</html>
