<!doctype html>
<html lang="en">
    <%- include("./partials/head.ejs", { title: "Members Only" }) %>
    <body>
        <% if (locals.user) { %>
        <h1>
            Hi,
            <%= user.email %>
        </h1>

        <h2><a href="/createMessage">Create a new message</a></h2>
        <% } else { %>
        <h1>You should <a href="/login">Login!</a></h1>
        <% } %>

        <%- include("./messages", { messages: locals.messages }) %>
    </body>
</html>
