<!doctype html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs", { title: "Join" }) %>
    </head>
    <body>
        <% if (locals.error) { %>
        <p class="single-error"><%= error %></p>
        <% } %>

        <form action="/join" method="POST" class="form join-form">
            <label for="">Enter the secret passcode</label>
            <input type="password" name="passcode" id="passcode" />

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
