<!doctype html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs", { title: "Login Page" }) %>
    </head>
    <body>
        <% if (locals.errors) { %>
        <ul>
            <% for (let i = 0; i < errors.length; i++) { %>
            <li><%= errors[i].msg %></li>
            <% } %>
        </ul>
        <% } %>

        <form action="/login" method="POST">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" required />

            <label for="password">Password: </label>
            <input
                type="password"
                name="password"
                id="password"
                minlength="4"
                maxlength="96"
                required
            />

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
