<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login Page</title>
    </head>
    <body>
        <% if (locals.errors) { %>
        <ul>
            <% for (let i = 0; i < errors.length; i++) { %>
            <li><%= errors[i].msg %></li>
            <% } %>
        </ul>
        <% } %>

        <form action="/login" method="POST">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" required />

            <label for="password">Password: </label>
            <input
                type="password"
                name="password"
                id="password"
                minlength="4"
                maxlength="96"
                required
            />

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
