<% if (locals.messages) { %>

<ul>
    <% for (let i = 0; i < messages.length; i++) { %>
    <li>
        <% if (locals.user) { %>
        <p>By <%=messages[i].username_id %>, posted at <%= messages[i].posted_date %></p>
        <% } else { %>
        <p>By anonymous at anonymous date</p>
        <% } %>

        <h3><%= messages[i].title %></h3>
        <p><%= messages[i].content %></p>
    </li>
    <% } %>
</ul>

<% } else { %>
<h2>No messages found.</h2>
<% } %>
