<div class="message-info">
    <div>
        <img src="../icons/usernameIcon.svg" alt="Anonymous Username" width="40px" height="auto" />
        <p>Anonymous</p>
    </div>

    <div>
        <img src="../icons/calendarDateIcon.svg" alt="Anonymous Date" width="40px" height="auto" />
        <p>**/**/****</p>
    </div>

    <div>
        <img
            src="../icons/exactDateIcon.svg"
            alt="Anonymous Exact Date"
            width="40px"
            height="auto"
        />
        <p>**:**:** ***</p>
    </div>
</div>
